// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
	border-collapse: collapse;
}

body {
    //background-image: url("images.jpg");
    background-color: orange;
}

td{
	padding: 12px;
}

.even{
	background-color:green
}

.odd{
	background-color:brown
}

th{
	font-size: 40px;
	color: brown;
}

tr{
	font-size: 25px;
}

h1{
	color: brown
}